.menu_detail {
    background: #ECECEC;
    height: calc(100vh - 48px);
    overflow: scroll;
    
}

.outer {
    padding: 10px;
    background: white;
}

.header {
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: azure;
}

.desc {
    text-align: right;
}
