.header {
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: aquamarine;
}

.outer {
    height: 400px;
    width: 100%;
    /* border: 1px solid cyan; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
    overflow: scroll;
}

.card {
    width: 100%;
}

.outer Button {
    margin: 5px;
    padding: 10px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    line-height: 30px;
    text-align: center;
}


